@CHARSET "UTF-8";
html {height: 100%; min-height: 100%;}
body {height: 100%; min-height: 100%;}
img:not([src*="/"]){visibility: hidden;}
body:after{
  content:" ";
  position:fixed;
  z-index:1500;
  left:-10000px;
  top:50%;
  margin: -45px auto auto -50px;
  width:100px;
  height:90px;
  //background:url("../images/loading.gif") no-repeat center center, rgba(0,0,0,0.5);
  border-radius:5px;
  -webkit-box-shadow: 0 0 5px #fff;
  -webkit-background-size: 160% auto;
  background-size: 160% auto;
}
body.loading:after{display: inherit;left:50%;}
body.loading:before{
  content: "";
  position: fixed;
  z-index: 1000;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  display: block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0);
}
ul, ol { padding: 0; margin: 0;}
li { list-style: none;}
a:link { text-decoration: none;}

.mtn { margin-top: 5px !important;}
.mtm { margin-top: 10px !important;}
.mtx { margin-top: 15px !important;}
.u_null_text_c {padding:5px; text-align:center;}


.u_app_version p,
.u_mall_ilist li a,
.u_menu_category li.arrow,
.u_goods_list li,
.u_gdetail_info li a,
.u_store_list li,
.u_header .city,
.u_matchind_category>ul>li,
.u_matchind_category li.a span,
.u_more_list ul li,
.u_video_list ul li a,
.u_handbook_list ul li a,
.u_feedback ul li a,
.u_stock_result ul li,
.u_record_list ul li a
{
  //background: url(../images/list_bg.png) no-repeat;
  background-size: 25px auto;
}
.u_matching_img li span, .u_matching_dimg span, .u_matching_dlist li a {
  //background: url(../images/matching_icon.png) no-repeat;
  background-size: 25px auto;
}

.u_hidden { display: none;}

.u_body {
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100%;
  background-color: #eeeeee;
}
.u_header {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #fa0000;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
}
.u_header .icon {
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  height: 40px;
  //background-image: url(../images/header_icon.png);
  background-size: 40px auto;
}
.u_header .l { left: 0;}
.u_header .r { right: 0;}
//.u_header .icon1 { background:url(../images/menuicon.png) no-repeat center center; background-size:25px auto;}
//.u_header .icon2 { background-position: center -40px;}
 .u_header .icon3 { background:image_url("back.png") ; background-position: 5px -40px; background-size: 40px auto;}
//.u_header .icon4 { background:url(../images/closeicon.png) no-repeat center center; background-size:20px auto;}
.u_header .font {
  background-image: none;
  color: #fff;
}
.u_header .icon1 i {
  position: absolute;
  top: 5px;
  right: -3px;
  display: none;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 9px;
}
.u_header .city {
  padding-right: 25px;
  display: inline-block;
  background-position: right -277px;
}
.u_header span.overflow {
  display: inline-block;
  width: 80%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u_box {
  width: 100%;
  padding: 10px;
}

.u_slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.u_slide ul {
}
.u_slide ul li {
}
.u_slide ul li img {
  width: 100%;
}
.u_slide ol {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  text-align: center;
}
.u_slide ol li {
  display: inline-block;
  margin-right: 3px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #bababa;
}
.u_slide ol li:last-child { margin-right: 0;}
.u_slide ol li.on { background-color: #454545;}

.u_menu_img ul {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  margin-bottom: 10px;
}
.u_menu_img ul:last-child { margin-bottom: 0;}
.u_menu_img ul li {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 33.33%;
  margin-right: 10px;
}
.u_menu_img ul li:last-child { margin-right: 0;}
.u_menu_img ul li img { width: 100%;}
.u_menu_img ul li i { display: none;}
.u_menu_img ul li.a i {
  position: absolute;
  top: -6px;
  right: -6px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
/*
.u_app_version p {
    height: 24px;
    background-position: 85% 8px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: #333333;
    text-align: center;
    line-height: 24px;
}
.u_app_version div {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    height: 38px;
}
.u_app_version div a {
    display: block;
    margin-right: 12px;
    padding-left: 7%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-align: center;
    -moz-box-align: center;
    height: 36px;
    background: url(../images/platform_icon_index.png) #fff no-repeat;
    background-size: 18px auto;
    background-position: 18% 6px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: 0 2px 2px #b2b2b2;
    color: #545454;
    text-align: center;
    line-height: 36px;
}
.u_app_version div a:last-child {
    margin-right: 0;
    background-position: 18% -46px;
}
*/
.u_full_screen_bg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9;
}
.u_full_screen_box {
  position: fixed;
  left: -10000px;
  padding: 10px;
  z-index:170;
}
.u_float_links_box {
  position: fixed;
  left: -10000px;
  padding: 10px;
  width: 90%;
  //background: url(../images/float_links_box_bg.png);
  z-index:10;
}
.u_float_links_box .box {
  position: relative;
  margin: 20px 10px;
  background-color: #fff;
}
.u_float_links_box .box i {
  position: absolute;
  top: -40px;
  right: -30px;
  display: block;
  width: 80px;
  height: 320px;
  //background: url(../images/header_icon.png) #fa0000 no-repeat;
  background-size: 25px auto;
  background-position: center bottom;
  border-radius: 24px;
}
.u_float_links_box .box ul {
  border: 1px solid #cecece;
}
.u_float_links_box .box li {
  height: 45px;
  border-bottom: 1px solid #cecece;
}
.u_float_links_box .box li:last-child { border-bottom: 0;}
.u_float_links_box .box li a {
  display: block;
  padding-left: 12px;
  height: 45px;
  overflow: hidden;
  color: #666666;
  line-height: 45px;
}

.u_search_form {
  padding: 15px 12px;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
}
.u_search_form section {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  background-color: #eeeeee;
}
.u_search_form section span {
  display: block;
  width: 80px;
  height: 45px;
  background-position: right 18px;
  color: #a4a7ad;
  text-align: center;
  line-height: 45px;
}
.u_search_form section .form {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 0 5px;
  height: 45px;
}
.u_search_form section .form input {
  width: 100%;
  height: 45px;
  border: 0;
  background: none;
  line-height: 45px;
}
.u_search_form section .menu {
  position: absolute;
  top: 33px;
  left: 0;
  display: none;
  width: 145px;
}
.u_search_form section .menu i {
  display: block;
  height: 9px;
  background-position: 27px -32px;
}
.u_search_form section .menu ul {
  padding: 10px;
  //background: url(../images/search_bg.png);
}
.u_search_form section .menu li {
  padding-left: 25px;
  height: 30px;
  border-bottom: 1px solid #c1c2c2;
  line-height: 30px;
  color: #fff;
}
.u_search_form section .menu li:nth-child(1) {
  background-position: -2px -59px;
}
.u_search_form section .menu li:nth-child(2) {
  background-position: -2px -103px;
  border-bottom: 0;
}
.u_search_list div {
  display: -webkit-box;
  display: -moz-box;
}
.u_search_list div span {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  height: 33px;
  background: #9c9fa6;
  color: #fff;
  text-align: center;
  line-height: 33px;
}
.u_search_list div span.a { background: #fa0000;}
.u_search_list ul {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
}
.u_search_list li {
  padding-left: 30px;
  height: 45px;
  border-bottom: 1px solid #ddd;
  color: #9c9fa6;
  line-height: 45px;
}
.u_search_list li:last-child { border-bottom: 0;}
.u_search_button {
  text-align: center;
}
.u_search_button input {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 0;
  box-shadow: 0 2px 2px #ddd;
  color: #9c9fa6;
}

.u_module_list {
  padding-bottom: 80px;
  background: #fff;
}
.u_module_list li {
  display: -webkit-box;
  display: -moz-box;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
}
.u_module_list li div:nth-child(1) {
  width: 53px;
  height: 53px;
}
.u_module_list li div:nth-child(1) img {
  width: 53px;
  height: 53px;
}
.u_module_list li div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin-left: 30px;
  height: 53px;
  line-height: 53px;
}
.u_module_list li div:nth-child(3) {
  padding-top: 12px;
  width: 53px;
  color: #000;
}
.u_module_list li div:nth-child(3) i {
  display: block;
  width:53px;
  height: 32px;
  //background: url(../images/on-off.png) no-repeat;
  background-size: 53px auto;
}
.u_module_list li.on div:nth-child(3) i { background-position: 0 -33px;}
.u_module_button {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  background: #ececec;
  z-index: 999;
}
.u_module_button input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  height: 40px;
  border: 0;
  color: #fff;
}
.u_module_button input:nth-child(1) {
  background: #c0c0c0;
  margin-right: 15px;
}
.u_module_button input:nth-child(2) { background: #fa0000;}

.u_menu_box, .u_menu_box2 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  min-height: 100%;
  background: #eee;
  z-index: 4;
}
.u_menu_box2 { z-index: 3;}
.u_menu_list li {
  position: relative;
  border-bottom: 1px solid #ccc;
}
.u_menu_list li a {
  display: block;
  padding-left: 50px;
  height: 45px;
  //background: url(../images/menu_icon.png) no-repeat;
  background-size: 25px;
  color: #000;
  line-height: 45px;
}
.u_menu_list li.icon1 a { background-position: 12px 12px;}
.u_menu_list li.icon2 a { background-position: 12px -25px;}
.u_menu_list li.icon3 a { background-position: 12px -66px;}
.u_menu_list li.icon4 a { background-position: 12px -108px;}
.u_menu_list li.icon5 a { background-position: 12px -152px;}
.u_menu_list li.icon6 a { background-position: 12px -192px;}
.u_menu_list li.icon7 a { background-position: 12px -232px;}
.u_menu_list li.icon8 a { background-position: 12px -275px;}
.u_menu_list li i {
  position: absolute;
  top: 18px;
  right: 10px;
  display: block;
  width: 9px;
  height: 9px;
  background: #fb0000;
  border-radius: 9px;
}

.u_mall_topsearchtext, .u_mall_inav li.a i, .u_mall_lnav li span, .u_mall_lnav li.a i, .u_goods_toolbar a, .u_mall_mnav li.a i, .u_news_icon {
  //background: url(../images/mall_icon.png) no-repeat;
  background-size: 25px auto;
}
.u_mall_topsearchtext {
  padding-left: 30px;
  width: 100%;
  height: 30px;
  background: #ffffff 5px 7px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}
.u_mall_inav ul {
  display: -webkit-box;
  display: -moz-box;
}
.u_mall_inav li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  height: 45px;
  //background: url(../images/mall_nav_bg.png) repeat-x;
  background-size: 4px auto;
  border-right: 1px solid #131313;
  color: #b4b4b4;
  text-align: center;
  font-size: 12px;
}
.u_mall_inav li:last-child { border-right: 0;}
.u_mall_inav li span {
  display: inline-block;
}
.u_mall_inav li span:nth-child(1) {
  padding-top: 5px;
  border-bottom: 1px solid #cecdcd;
  color: #fffefe;
  font-weight: bold;
}
.u_mall_inav li span:nth-child(2) { font-size: 10px;}
.u_mall_inav li i { display: none;}
.u_mall_inav li.a {
  position: relative;
  background-position: left bottom;
  color: #1e1e1e;
}
.u_mall_inav li.a span:nth-child(1) {
  color: #1e1e1e;
  border-color: #717171;
}
.u_mall_inav li.a i {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: block;
  width: 100%;
  height: 8px;
  background-position: center -33px;
}
.u_mall_ilist ul {
  background-color: #fafafa;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
}
.u_mall_ilist li a {
  display: block;
  padding-left: 10px;
  height: 45px;
  color: #333;
  line-height: 45px;
  background-position: right -48px;
  border-bottom: 1px solid #ddd;
}
.u_mall_ilist li:last-child a { border-bottom: 0;}

.u_mall_lnav ul {
  display: -webkit-box;
  display: -moz-box;
}
.u_mall_lnav li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 25%;
  height: 45px;
  //background: url(../images/mall_nav_bg.png) repeat-x;
  background-size: 4px auto;
  border-right: 1px solid #131313;
  color: #b4b4b4;
  text-align: center;
  font-size: 12px;
}
.u_mall_lnav li:last-child { border-right: 0;}
.u_mall_lnav li i { display: none;}
.u_mall_lnav li span {
  display: block;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  background-position: 85% -183px;
  text-align: center;
  line-height: 45px;
}
.u_mall_lnav li:nth-child(3) span {
  background-position: 85% -216px;
}
.u_mall_lnav li:nth-child(4) span {
  padding-right: 0;
  background-image: none;
}
.u_mall_lnav li.a {
  position: relative;
  background-position: left bottom;
  color: #1e1e1e;
}
.u_mall_lnav li.a i {
  position: absolute;
  bottom: -8px;
  left: 0%;
  display: block;
  width: 100%;
  height: 8px;
  background-position: center -33px;
}
.u_mall_lnav li.a span { background-position: 85% -150px;}
.u_mall_lnav li:nth-child(3).a1 span { background-position: 85% -249px;}
.u_mall_lnav li:nth-child(3).a2 span { background-position: 85% -281px;}

.u_goods_img { padding: 7px;}
.u_goods_img li {
  display: inline-block;
  padding: 3px;
  width: 50%;
}
.u_goods_img li>div {
  padding: 5px 0;
  background: #fff;
  border: 1px solid #e0e0e0;
}
.u_goods_img li>div img {
  width: 100%;
}
.u_goods_img li>div div {
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  font-size: 12px;
}
.u_goods_img li>div div span { color: #e10000;}
.u_goods_img .nothing, .u_goods_list .nothing {
  padding: 0;
  width: 100%;
  height: 150px;
  background: #eeeeee;
  border-bottom: 0;
  text-align: center;
  line-height: 150px;
  color: #bbb;
}
.u_goods_list {
  margin: 20px 10px;
  background: #fff;
  border: 1px solid #e0e0e0;
}
.u_goods_list li {
  height: 76px;
  padding: 10px;
  background-position: right -30px;
  border-bottom: 1px solid #ccc;
}
.u_goods_list li a {
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  height: 100%;
}
.u_goods_list li a img {
  -webkit-box-flex: 1;
  height: 100%;
}
.u_goods_list li a>div {
  -webkit-box-flex: 1;
  margin-left: 10px;
  padding-top: 8px;
}
.u_goods_list li a>div div {
  white-space: nowrap;
  overflow: hidden;
}
.u_goods_list li a>div div:nth-child(1) {
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.u_goods_list li a>div div:nth-child(2) { color: #959595;}
.u_goods_list li a>div div:nth-child(2) span { color: #e10000;}
.u_goods_toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #3b3b3b;
}
.u_goods_toolbar a {
  display: block;
  width: 50px;
  height: 45px;
}
.u_goods_toolbar a.l { float: left;}
.u_goods_toolbar a.r { float: right;}
.u_goods_toolbar a.icon1 { background-position: center -52px;}
.u_goods_toolbar a.icon2 { background-position: center -117px;}
.u_goods_toolbar a.icon3 { background-position: center -84px;}

.u_menu_category li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
}
.u_menu_category li.level2 { text-indent: 25px;}
.u_menu_category li.level3 { text-indent: 50px; color: #fa0000;}
.u_menu_category li+ul { display: none;}
.u_menu_category li.on+ul { display: block;}
.u_menu_category li.arrow { background-position: right -51px;}
.u_menu_category li.on.arrow { background-position: right 15px;}

.u_gdetail_button {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
}

.style2 li{
  position: relative;
}

.t_box_reg > * {
  height: 100%;
  display: table-cell;
  vertical-align: top;
}

.style2 *[data-state]:after{
  font-size:12px;
  padding-left:15px;
  content: attr(data-state);
  display: inline-block;
  width:100%;
  line-height:30px;
  color:#fff;
  background:#000;
  opacity:0.8;
  position:absolute;
  right:0;
  bottom:0;
  z-index:10;
}
.u_gdetail_button a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin-right: 3px;
  display: block;
  height: 50px;
  background: #fafafa;
  box-shadow: 0 1px 2px #c9c9c9;
  color: #333;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
}
.u_gdetail_button a:first-child { color: #fa0000;}
.u_gdetail_button a:nth-child(3) { margin-right: 0;}
.u_gdetail_button span {
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  width: 25px;
  height: 10px;
  overflow: hidden;
  line-height: 10px;
  text-align: center;
  color: #fa0000;
  font-size: 9px;
}

.u_gdetail_info ul {
  padding:10px;
  background: #fff;
}
.u_gdetail_info li {
  padding: 13px;
  border-bottom: 1px solid #ccc;
}
.u_gdetail_info li:last-child { border-bottom: 0;}
.u_gdetail_info li a {
  display: block;
  background-position: right -60px;
  color: #333;
}

.u_gdetail_shake {
  padding-left: 30px;
  height: 48px;
  //background: url(../images/shake.png) #fff no-repeat;
  background-size: 30px auto;
  background-position: 75px center;
  box-shadow: 0 1px 2px #c9c9c9;
  line-height: 48px;
  text-align: center;
  color: #fa0000;
}

.u_store_list li {
  margin-bottom: 5px;
  padding-left: 10px;
  height: 62px;
  background-color: #fff;
  background-position: right -40px;
  line-height: 62px;
}
.u_store_list li a {
  display: -webkit-box;
  display: -moz-box;
}
.u_store_list li a span:nth-child(1) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}
.u_store_list li a span:nth-child(2) {
  display: block;
  width: 110px;
  color: #ff3f47;
}
.u_store_list .button {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 45px;
  text-align: center;
  line-height:45px;
  color: #fff;
}
.u_store_list .more_button { background: #8d8d8d;}

.u_store_banner ul { margin-bottom: 5px;}
.u_store_banner ul:last-child { margin-bottom: 0;}
.u_store_banner ul.style1 {
  display: -webkit-box;
  display: -moz-box;
}
.u_store_banner ul.style1 li {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 50%;
  margin-right: 5px;
}
.u_store_banner ul.style1 li:last-child { margin-right: 0;}
.u_store_banner ul.style1 li img { width: 100%;}
.u_store_banner ul.style1 li i {
  position: absolute;
  display: block;
  width: 49%;
  height: 49%;
  //background: url(../images/icon_logo.png) no-repeat;
  background-size: 100% 100%;
}
.u_store_banner ul.style1 li i:nth-child(1) {
  top: 0;
  left: 0;
}
.u_store_banner ul.style1 li i:nth-child(2) {
  bottom: 0;
  right: 0;
}
.u_store_banner ul.style2 li img { width: 100%;}

.u_city_list {
  padding: 10px;
}
.u_city_list span {
  display: block;
  height: 32px;
  line-height: 32px;
}
.u_city_list ul {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background: #fafafa;
  box-shadow: 0 1px 1px #c9c9c9;
}
.u_city_list ul li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ddd;
}
.u_city_list ul li:last-child { border-bottom: 0;}
.u_city_list ul li a {
  padding-left: 10px;
  display: block;
  color: #333;
}

.u_store_info { background: #fff;}
.u_store_info>div {
  padding: 8px;
  border-bottom: 1px solid #e7e7e7;
}
.u_store_info>div:nth-child(1) h1 {
  margin: 0;
  font-size: 18px;
  color: #010101;
}
.u_store_info>div:nth-child(1) address {
  margin-top: 5px;
  margin-bottom: 0;
  color: #737373;
}
.u_store_info>div:nth-child(2) {
  display: -webkit-box;
  display: -moz-box;
}
.u_store_info>div:nth-child(2) a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  margin-right: 8px;
  background-color:#FAFAFA;
  height: 45px;
  border: 1px solid #f5f5f5;
  color: #393939;
  text-align: center;
  line-height: 45px;
}
.u_store_info>div:nth-child(2) a:last-child { margin-right: 0;}
.u_store_info>div details { color: #010101;}
.u_store_info>div details summary { color: #929292;}

.u_mall_mnav ul {
  display: -webkit-box;
  display: -moz-box;
}
.u_mall_mnav li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 33.33%;
  height: 45px;
  //background: url(../images/mall_nav_bg.png) repeat-x;
  background-size: 4px auto;
  border-right: 1px solid #131313;
  color: #b4b4b4;
  text-align: center;
  font-size: 12px;
}
.u_mall_mnav li:last-child { border-right: 0;}
.u_mall_mnav li i { display: none;}
.u_mall_mnav li span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 45px;
}
.u_mall_mnav li.a {
  position: relative;
  background-position: left bottom;
  color: #1e1e1e;
}
.u_mall_mnav li.a i {
  position: absolute;
  bottom: -8px;
  left: 0%;
  display: block;
  width: 100%;
  height: 8px;
  background-position: center -33px;
}

.u_matching_img { padding: 6px;}
.u_matching_img li {
  position: relative;
  display: inline-block;
  padding: 4px;
  width: 33.33%;
  min-height: 100px;
}
.u_matching_img li img {
  width: 100%;
}
.u_matching_img li span {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding-left: 20px;
  padding-right: 8px;
  display: inline-block;
  min-width: 42px;
  height: 15px;
  background-position: left -37px;
  background-color: #fff;
  border-radius: 8px;
  color: #3c3c3c;
  font-size: 9px;
  line-height: 15px;
}
.u_matching_img li.nothing {
  width: 100%;
  text-align: center;
}

.u_matching_dimg {
  height: 300px;
  padding: 10px 0;
  box-shadow: 0 1px 1px #cacaca;
  background: #fff;
  text-align: center;
}
.u_matching_dimg div {
  position: relative;
  display: inline-block;
  height: 100%;
}
.u_matching_dimg img { height: 100%;}
.u_matching_dimg span {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding-left: 30px;
  padding-right: 10px;
  display: inline-block;
  min-width: 56px;
  height: 27px;
  background-color: #fff;
  background-position: 5px -68px;
  border-radius: 20px;
  color: #3f3f3f;
  line-height: 27px;
}
.u_matching_dimg span.a { background-position: 5px -111px;}

.u_matching_dlist { background: #fff;}
.u_matching_dlist li {
  padding: 0 12px;
  border-bottom: 1px solid #ccc;
}
.u_matching_dlist li a {
  padding-right: 30px;
  display: block;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-position: right -147px;
  color: #000;
  line-height: 45px;
}

.u_matchind_category { padding: 10px;}
.u_matchind_category>ul {
  background: #fafafa;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 0 1px 1px #c0c0c0;
}
.u_matchind_category li {
  height: 45px;
  border-bottom: 1px solid #dddddd;
  line-height: 45px;
}
.u_matchind_category li span {
  padding-right: 30px;
  display: inline-block;
}
.u_matchind_category>ul ul:last-child li:last-child { border-bottom: 0;}
.u_matchind_category>ul>li>span { text-indent: 10px;}
.u_matchind_category>ul>ul>li>span { text-indent: 35px;}
.u_matchind_category>ul>li { background-position: right -48px;}
.u_matchind_category li+ul { display: none;}
.u_matchind_category li.on+ul { display: block;}
.u_matchind_category>ul>li.on { background-position: right 17px;}
.u_matchind_category>ul>li.on.a {
  background-position: right -110px;
  color: #f00;
}
.u_matchind_category li.a span {
  background-position: right -170px;
  color: #f00;
}
.u_matchind_category .button {
  height: 36px;
  text-align: center;
}
.u_matchind_category .button input {
  width: 120px;
  height: 36px;
  background: #f00;
  border: 0;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.u_gv_info p {
  padding: 20px 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e8e8), to(#cdcdcd));
  background: -moz-linear-gradient(#e9e8e8,#cdcdcd);
  box-shadow: 0 1px 3px #9f9f9f;
}
.u_gv_info span {
  margin: 30px 0;
  display: block;
  text-align: center;
}
.u_gv_info a {
  margin-bottom: 30px;
  display: block;
  height: 45px;
  background: #f00;
  color: #fff;
  text-align: center;
  line-height: 45px;
}

.u_news_box {
  padding: 10px 0;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.u_news_list .info {
  margin: 0 10px;
  padding: 8px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
}
.u_news_list .info .title {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  border-bottom: 1px solid #ddd;
}
.u_news_list .info .title img {
  display: block;
  width: 30px;
  height: 30px;
}
.u_news_list .info .title div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin-left: 10px;
}
.u_news_list .info .title div span {
  display: block;
  line-height: 15px;
}
.u_news_list .info .title div time {
  display: block;
  color: #959595;
  font-size: 12px;
}
.u_news_list .info .content {
  margin: 10px 0;
  height: 100px;
  overflow: hidden;
}
.u_news_list .info .content.on { height: auto;}
.u_news_list .info .bottom {
  display: -webkit-box;
  display: -moz-box;
}
.u_news_list .info .bottom span {
  display: block;
  -webkit-box-flex: 1;
  color: #3b5998;
}
.u_news_list .info .bottom span:last-child { text-align: right;}
.u_news_list .info .bottom span a {
  display: block;
  color: #3b5998;
}

.u_news_list .img {
  margin: 0 5px 10px;
  padding: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 1px 1px #9d9d9d;
}
.u_news_list .img img { width: 100%;}

.u_news_img ul { padding: 10px 5px;}
.u_news_img ul li {
  padding: 5px;
  display: inline-block;
  width: 50%;
}
.u_news_img ul li a {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100px;
}
.u_news_img ul li a img {
  width: 100%;
}
.u_news_img ul li a i {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}
.u_news_img ul li a div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px;
  width: 100%;
  height: 60px;
  z-index: 2;
}
.u_news_img ul li a div span {
  display:block;
  color: #fff;
}
.u_news_img ul li a div span:nth-child(1) {
  height: 30px;
  line-height: 15px;
  overflow: hidden;
}
.u_news_icon {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: block;
  width: 45px;
  height: 36px;
  background-color: #5f5e5e;
  border-radius: 10px;
}
.u_news_icon.u_news_icon1 { background-position: center -89px;}
.u_news_icon.u_news_icon2 { background-position: center -122px;}

.u_more_list ul {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #e0e0e0;
}
.u_more_list ul li {
  height: 45px;
  background-position: right -48px;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
}
.u_more_list ul li a {
  padding-left: 10px;
  display: block;
  color: #000;
}

/** å®˜æ–¹è§†é¢‘ */
.u_video_list ul li {
  margin-bottom: 8px;
  padding: 6px;
  background: #fff;
  box-shadow: 0px 1px 1px  #ababab;
}
.u_video_list ul li a {
  display: -webkit-box;
  display: -moz-box;
  background-position: right -42px;
}
.u_video_list ul li a img {
  display: block;
  width: 91px;
  height: 60px;
}
.u_video_list ul li a span {
  margin-left: 10px;
  padding-right: 20px;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  line-height: 60px;
}

/**
*	åº“å­˜æŸ¥çœ‹è®°å½•
*	2014-11-19 KangQiang
*	ver 1.0.0
.u_record_list ul li a span {
    margin-left: 10px;
    padding-right: 20px;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    line-height: 60px;
}
*/
.u_record_list ul li {
  margin-bottom: 8px;
  padding: 6px;
  background: #fff;
  box-shadow: 0px 1px 1px  #ababab;
}
.u_record_list ul li a {
  display: -webkit-box;
  display: -moz-box;
  background-position: right -38px;
}
.u_record_list ul li a img {
  display: block;
  width: 60px;
  height: 60px;
}

/** åŽ†å²è®°å½•å•å…ƒæ ¼å¸ƒå±€ */
#u_cell_container {
  margin:0 auto;
  width:100%;
}
#u_cell_left {
  text-align:center;
  width:60px;
  height:60px;
  background:none;
  float:left;
  margin: 0 5px 0 auto;
}

#u_cell_right {
  height:60px;
  background:none;
}
#u_cell_right_top {
  height:40px;
  margin-left: 10px;
  padding-right: 20px;
  background:none;
  color:black;
  line-height: 18px;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
#u_cell_right_bottom {
  height:20px;
  margin-bottom:0;
  color:gray;
}
#u_cell_right_bottom_left {
  padding:0px;
  width:80px;
  height:20px;
  background:none;
  float:left;
}
#u_cell_right_bottom_right {
  padding:0;
  float:left;
  height:20px;
  background:none;
}






.u_attention_list ul li a img { width: 60px;}

.u_handbook_list ul {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 1px #bdbdbd;
}
.u_handbook_list ul li {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}
.u_handbook_list ul li:last-child { border-bottom: 0;}
.u_handbook_list ul li a {
  display: -webkit-box;
  display: -moz-box;
  background-position: right -42px;
  color: #666;
}
.u_handbook_list ul li a img {
  margin-right: 3px;
  display: block;
  width: 40px;
  height: 60px;
}
.u_handbook_list ul li a div {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.u_handbook_list ul li a div span {
  padding-top: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.u_handbook_list ul li a div time { font-size: 12px;}

.u_rss .email {
  padding: 10px;
  width: 100%;
  border: 0;
  box-shadow: 0 1px 1px #c9c9c9;
}
.u_rss div {
  display: -webkit-box;
  display: -moz-box;
}
.u_rss div .checkbox {
  margin-top: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  box-shadow: 0 0 2px #c9c9c9;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
.u_rss div .checkbox:checked {
  //background: url(../images/icon_checked.png) #fff no-repeat center center;
  background-size: 13px 13px;
}
.u_rss div p {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin-left: 10px;
}
.u_rss div p a { color: #f40000;}
.u_rss .button {
  width: 100%;
  padding: 10px 0;
  background: #f00;
  border: 1px;
  box-shadow: 0 0 2px #b1b1b1;
  color: #fff;
}

.u_feedback .textarea {
  padding: 10px;
  width: 100%;
  border: 0;
  box-shadow: 0 1px 1px #c9c9c9;
}
.u_feedback p {
  margin-top: 10px;
  color: #666;
}
.u_feedback .text {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 0;
  box-shadow: 0 1px 1px #c9c9c9;
}
.u_feedback div {
  display: -webkit-box;
  display: -moz-box;
}
.u_feedback div input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  height: 45px;
  border: 0;
  box-shadow: 0 0 1px #b1b1b1;
  color: #fff;
}
.u_feedback div input:nth-child(1) {
  margin-right: 6px;
  background: #bbb;
}
.u_feedback div input:nth-child(2) {
  background: #f00;
}
.u_feedback ul {
  background: #fff;
  box-shadow: 0 1px 2px #c9c9c9;
}
.u_feedback ul li {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.u_feedback ul li:last-child { border-bottom: 0;}
.u_feedback ul li a {
  display: block;
  height: 45px;
  background-position: right -48px;
  line-height: 45px;
  color: #000;
}

.u_manual_service {
  padding: 30px 0 50px 0;
  text-align: center;
}
.u_manual_service p { margin: 5px 0;}
.u_manual_service img {
  margin-top: 15px;
  display: inline-block;
  width: 60%;
  min-width: 162px;
}

.u_stock_barcode .barcode {
  position: relative;
  padding: 5px;
  height: 48px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 1px 1px #bdbdbd;
}
.u_stock_barcode .barcode i {
  position: absolute;
  top: 0;
  right: 5px;
  display: block;
  width: 21px;
  height: 100%;
  //background: url(../images/stock_icon.png) no-repeat;
  background-size: 25px auto;
  background-position: center 12px;

}
.u_stock_barcode .barcode div {
  width: 100%;
  height: 100%;
}
.u_stock_barcode .barcode div input {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  //background: url(../images/stock_barcode_bg.png) no-repeat;
  background-size: 100% 100%;
}
.u_stock_barcode .submit {
  width: 100%;
  height: 45px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e2e2e2));
  background: -moz-linear-gradient(#ededed,#e2e2e2);
  box-shadow: 0 1px 1px #b3b3b3;
  font-size: 16px;
  text-align: center;
}
.u_stock_query ul {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #fafafa;
}
.u_stock_query ul li {
  padding: 5px 10px;
}
.u_stock_query ul li span { color: #fa0000;}
.u_stock_query ul li:nth-child(1) {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  line-height: 17px;
}
.u_stock_query ul li:nth-child(2) {
  height: 43px;
  line-height: 33px;
}
.u_stock_query .select {
  display: -webkit-box;
  display: -moz-box;
  height: 45px;
}
.u_stock_query .select select {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  height: 100%;
  border: 1px solid #dadada;
  border-radius: 3px;
  background-color: #fafafa;
  box-shadow: 0 1px 1px #bbbbbb;
  text-align: center;
}
.u_stock_query .select select:nth-child(1) { margin-right: 12px;}
.u_stock_query .submit {
  padding: 7px 0;
  height: 50px;
  background: #fefefe;
  text-align: center;
}
.u_stock_query .submit input {
  width: 60%;
  height: 100%;
  border: 0;
  background: #fa0000;
  color: #fff;
}
.u_stock_result dl {
  display: -webkit-box;
  display: -moz-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}
.u_stock_result dl dt { margin: 5px 15px 5px 5px;}
.u_stock_result dl dt, .u_stock_result dl dt img {
  width: 90px;
}
.u_stock_result dl dd {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.u_stock_result dl dd div { line-height: 19px;}
.u_stock_result dl dd div span { color: #fa0000;}
.u_stock_result ul li {
  margin-bottom: 5px;
  padding-left: 10px;
  height: 62px;
  background-color: #fff;
  background-position: right -40px;
}
.u_stock_result ul li a {
  display: -webkit-box;
  display: -moz-box;
}
.u_stock_result ul li a>div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 10px 0;
  display: block;
  color: #666;
}
.u_stock_result ul li a>div>div {
  height: 21px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.u_stock_result ul li a>div>div:nth-child(1) { color: #000;}
.u_stock_result ul li a>div>div .color1 { color: #fa0000;}
.u_stock_result ul li a>span {
  display: block;
  width: 110px;
  color: #ff3f47;
  line-height: 62px;
}
.u_stock_result .button {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 45px;
  text-align: center;
  line-height:45px;
  color: #fff;
}
.u_stock_result .more_button { background: #8d8d8d;}
.u_stock_result .city_button { background: #ff0000;}
.u_stock_result .nothing {
  padding: 80px 0;
  text-align: center;
}

.u_float_background {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9;
}
.u_float_box {
  position: fixed;
  left: -10000px;
  padding: 10px;
  width: 80%;
  background: #fff;
  border-radius: 5px;
  z-index:10;
}
.u_float_box h3 {
  position: relative;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.u_float_box p {
  color: #4f5257;
  text-align: center;
}
.u_float_box>div {
  display: -webkit-box;
  display: -moz-box;
  height: 45px;
}
.u_float_box>div a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  height: 100%;
  color: #fff;
  line-height: 45px;
  text-align: center;
}
.u_float_box>div a:nth-child(1) {
  margin-right: 16px;
  background: #bbbbbb;
}
.u_float_box>div a:nth-child(2) { background: #f00;}
.u_float_box h3 i {
  position: absolute;
  top: -20px;
  right: 0;
  display: block;
  width: 21px;
  height: 21px;
  //background: url(../images/stock_icon.png) no-repeat;
  background-size: 25px auto;
  background-position: center 0;

}

.u_topic_img img { width: 100%;}

.u_sifting section {
  background: #fff;
  box-shadow: 0px 0px 2px #d5d5d5;
}
.u_sifting section .title {
  padding: 0 10px;
  display: -webkit-box;
  display: -moz-box;
  height: 38px;
  border-bottom: 1px solid #ddd;
  line-height: 38px;
}
.u_sifting section .title span, .u_sifting section .title label {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.u_sifting section .title span { color: #0e0e0e;}
.u_sifting section .title label {
  margin: 0;
  color: #666;
  text-align: right;
  font-weight: normal;
}
.u_sifting section .title label input {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #d5d4d4;
  background: #ededed;
  box-shadow: 0 0 3px #d8d8d8;
  vertical-align: middle;
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
}
.u_sifting section .title label input:checked {
  background-size: 13px 13px;
  background-position: center center;
}
.u_sifting section .radiobox { padding: 5px;}
.u_sifting section .radiobox span {
  position: relative;
  float: left;
  padding: 5px;
  display: block;
  width: 25%;
  height: 40px;
  line-height: 30px;
  text-align: center;
  overflow:hidden;
}
.u_sifting section .radiobox span input {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.u_sifting section .radiobox span input:checked+label {
  border-color: #ff1200;
  //background: url(../images/sifting_checked.png) no-repeat;
  background-size: 13px 13px;
  background-position: left top;
  color: #ff3c3c;
}
.u_sifting section .radiobox span label {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #dcdcdc;
  font-weight: normal;
  font-size: 12px;
  color: #030303;
}
.u_sifting .label_radiobox {
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
}
.u_sifting .label_radiobox label {
  margin: 0;
  font-weight: normal;
}
.u_sifting .label_radiobox label input {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #d5d4d4;
  background: #ededed;
  box-shadow: 0 0 3px #d8d8d8;
  vertical-align: middle;
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
}
.u_sifting .label_radiobox label input:checked {
  background-size: 13px 13px;
  background-position: center center;
}
.u_sifting .pricebox {
  padding: 10px 10px;
}
.u_sifting .pricebox .bar_box { padding: 0 5px;}
.u_sifting .pricebox .bar {
  width: 100%;
  height: 11px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f5f5f5));
  background: -moz-linear-gradient(#e4e4e4,#f5f5f5);
}
.u_sifting .pricebox .bar span {
  position: absolute;
  top: -7px;
  display: block;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-size: 25px 25px;
}
.u_sifting .pricebox .bar span.left { left: -12px;}
.u_sifting .pricebox .bar span.right { right: -12px;}
.u_sifting .pricebox .bar div {
  float: left;
  width: 0%;
  height: 100%;
}
.u_sifting .pricebox .bar div:nth-child(2) {
  position: relative;
  width: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ea0000), to(#fc0000));
  background: -moz-linear-gradient(#ea0000,#fc0000);
}
.u_sifting .pricebox .bar_rule {
  width: 100%;
  height: 25px;
}
.u_sifting .pricebox .bar_rule div {
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
}
.u_sifting .pricebox .bar_rule div:nth-child(1) { height: 13px;}
.u_sifting .pricebox .bar_rule div:nth-child(2) { height: 12px; line-height: 12px;}

.u_sifting .pricebox .bar_rule span {
  display: block;
  width: 14.2857%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  color: #333;
}
.u_sifting .pricebox .bar_rule span:nth-child(1), .u_sifting .pricebox .bar_rule span:nth-child(2) { text-align: left;}
.u_sifting .pricebox .bar_rule span:nth-child(3), .u_sifting .pricebox .bar_rule span:nth-child(4) { text-align: center;}
.u_sifting .pricebox .bar_rule span:nth-child(5), .u_sifting .pricebox .bar_rule span:nth-child(6), .u_sifting .pricebox .bar_rule span:nth-child(7) { text-align: right;}

.u_page_remind {
  display: none;
  text-align: center;
  color: #ccc;
}

.u_share_box {
  width: 80%;
  border-radius: 5px;
  background: #fff;
}
.u_share_box h3 {
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.u_share_box h3 i {
  position: absolute;
  top: -20px;
  right: -20px;
  display: block;
  width: 24px;
  height: 24px;
  //background: url(../images/header_icon.png) #fa0000 no-repeat;
  background-size: 25px auto;
  background-position: center bottom;
  border-radius: 24px;
}
.u_share_box div {
  display: -webkit-box;
  display: -moz-box;
}
.u_share_box div i {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 5px;
}
.u_share_box div i img { width: 100%;}

.u_appdownload {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 65px;
}
.u_appdownload i.bg {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 99;
}

.u_appdownload .box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.u_appdownload .box span {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin-top: 17.5px;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.u_appdownload .box a {
  margin-top: 17.5px;
  display: block;
  width: 85px;
  height: 30px;
  overflow: hidden;
  background: #e6e6e6;
  border-radius: 5px;
  color: #4f4f4f;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.didi-btn{
  display: block;
  background-size: 30px auto;
  background-color: red;
  text-align: center;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  padding: 4px;
  margin: 5px 5px;
  letter-spacing: 3px;
}