<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %l %m%n" />
		</layout> <!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>
	<appender name="Spring" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<!-- <param name="File" value="E:\\data\\logs\\spring.log" /> -->
		<param name="File" value="/lcims/softwares/syncSpecialuser/log/spring.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%p][%c] - %m%n" />
		</layout>
	</appender>
	<appender name="Main" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="/lcims/softwares/syncSpecialuser/log/main.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%p][%c] - %m%n" />
		</layout>
	</appender>
	<appender name="Sql" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="/lcims/softwares/syncSpecialuser/log/sql.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%p][%c] - %m%n" />
		</layout>
	</appender>
	<appender name="Error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="/lcims/softwares/syncSpecialuser/log/error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%p][%c] - %m%n" />
		</layout>
	</appender>

	<!-- 通过<category></category>的定义可以将各个包中的类日志输出到不同的日志文件中 -->
	<category name="org.springframework">
		<priority value="info" />
		<appender-ref ref="Spring" />
	</category>


	<logger name="error">
		<level value="info" />
		<appender-ref ref="Error" />
	</logger>

	<logger name="main">
		<level value="info" />
		<appender-ref ref="Main" />
	</logger>

	<logger name="sql">
		<level value="info" />
		<appender-ref ref="Sql" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>