<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.sync" />

	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter" />
			<bean
				class="org.springframework.http.converter.ResourceHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="propertyConfigurer" class="com.sync.util.spring.PropertyPlaceholder">
		<property name="location">
			<value>classpath:config.properties</value>
		</property>
	</bean>

	<!-- 视图解释类,定义跳转的文件的前后缀 -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" 
		/> <property name="prefix" value="/views/" /> <property name="suffix" value=".jsp" 
		/> <property name="requestContextAttribute" value="rc" /> </bean> -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 对静态资源文件的访问 方案一 （二选一） -->
	<mvc:default-servlet-handler />
	<bean name="efastOrderService" class="com.sync.efast.impl.EfastOrderServiceImpl">
	</bean>
	
	<bean name="youzanPointsService" class="com.sync.youzan.impl.YouzanPointsServiceImpl">
	</bean>
	
	<bean name="syncEfastOrderServer" class="com.sync.service.impl.SyncEfastOrderServerImpl">
		<property name="efastOrderDao">
			<ref bean="efastOrderDao" />
		</property>
		<property name="membershipDao">
			<ref bean="membershipDao" />
		</property>
		<property name="pointsRuleDao">
			<ref bean="pointsRuleDao" />
		</property>
		<property name="efastOrderService">
			<ref bean="efastOrderService" />
		</property>
		<property name="youzanPointsService">
			<ref bean="youzanPointsService" />
		</property>
	</bean>

	<bean name="syncOrderTask" class="com.sync.job.SyncOrderTask">
		<property name="syncEfastOrderServer">
			<ref bean="syncEfastOrderServer" />
		</property>
	</bean>


	<!-- 定时任务的配置 Start -->
	<bean id="simpleJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="syncOrderTask" />
		<property name="targetMethod" value="syncSpecialUserMethod" />
	</bean>

	<bean id="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="simpleJobDetail" />
		<property name="startDelay" value="5000" />
		<property name="repeatInterval" value="1000000" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="simpleJobDetail" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
				<ref bean="yearCronTriggerBean" />
			</list>
		</property>
	</bean>




	<bean name="yearPointsTask" class="com.sync.job.YearPointsTask">
		<property name="membershipDao">
			<ref bean="membershipDao" />
		</property>
		<property name="efastOrderDao">
			<ref bean="efastOrderDao" />
		</property>
		<property name="youzanPointsService">
			<ref bean="youzanPointsService" />
		</property>
	</bean>

	<bean id="yearDetailFactoryBean"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="yearPointsTask" />
		<property name="targetMethod" value="caculatePoint" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="yearCronTriggerBean"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="yearDetailFactoryBean" />
		<property name="cronExpression">
			<value>0 0 22 31 12 ?</value>
		</property>
	</bean>

	<!-- 定时任务的配置 End -->
	
	
	<import resource="dao-ContextConfig.xml" />

</beans>